body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#pong {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#paddleLeft, #paddleRight {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: white;
}

#paddleLeft {
    left: 0;
}

#paddleRight {
    right: 0;
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
}